@{
    ViewData["Title"] = "Login";
    // Layout = null;
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="/Assets/Images/pablita-guy-with-key-about-to-unlock-the-phone.png"
                     class="img-fluid" style="width: 500px;height: auto;">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 mx-3">
                <form asp-action="Login" method="post">
                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="Username" name="Username" class="form-control form-control-lg" />
                        <label class="form-label" for="Username">UserName</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="Password" name="Password" class="form-control form-control-lg" />
                        <label class="form-label" for="Password">Password</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="false" name="RememberMe" id="RememberMe" checked />
                            <label class="form-check-label" for="RememberMe">RememberMe</label>
                        </div>

                        <a href="/">Back to home</a>
                    </div>

                    <!-- buttons -->
                    <div class="align-items-center justify-content-center d-flex">
                        <button type="submit" class="btn btn-primary btn-lg btn-block mx-1">Login</button>
                        <a href="/Register" class="btn btn-outline-primary btn-lg btn-block mx-1">Register</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>